@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - @AppSettings.Options.SiteTitle</title>

	<!-- build:vendorCss(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(build) styles/app.css -->
	<link rel="stylesheet" href="styles/app.css">
	<!-- endbuild -->
	@*<environment names="Development">
			<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
			<link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css" />
			<link rel="stylesheet" href="~/css/site.css" />
		</environment>
		<environment names="Staging,Production">
			<link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
				  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
				  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
			<link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
				  asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
				  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
			<link rel="stylesheet" href="~/css/site.css" />
		</environment>*@
</head>
<body>
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<h1>Layout SPA</h1>

	@RenderBody()

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		!function (A, n, g, u, l, a, r) {
			A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
				(A[l].q = A[l].q || []).push(arguments)
			}, A[l].l = +new Date, a = n.createElement(g),
			r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
		}(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>

	<!-- build:vendorJs(.) scripts/vendor.js -->
	<!-- bower:js -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:app(build) scripts/app.js -->
	<script src="scripts/app.js"></script>
	<!-- endbuild -->
	@*<environment names="Development">
			<script src="~/lib/jquery/jquery.js"></script>
			<script src="~/lib/bootstrap/js/bootstrap.js"></script>
			<script src="~/lib/hammer.js/hammer.js"></script>
			<script src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"></script>
		</environment>
		<environment names="Staging,Production">

		</environment>*@

	@RenderSection("scripts", required: false)
</body>
</html>